.app_top{
  height: 50vh;
  width: 100vw;
  display: flex;
  height: 100%;
}
.app_bottom{
 
height: 50vh;
width: 100vw;

}

.app >h1{
  align-self: center;
  text-align: center;
  text-transform: uppercase;
}